@media screen and (max-width:992px) {
  .review-bg{
    width: 100%;
  }
  .detail-img img{
    width: 100%;
  }
  .review-div-flex{
    margin-top: 5%;
  }
}
@media screen and (max-width:768px) {
    .categories-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-column-gap: 30px;
        grid-row-gap: 12px;
        padding: 5%;
      }
      .categories-name{
        width: 10rem;
      }
      .be-heard p{
        font-size: 12px;
      }
      .Information-company{
        top: 96%;
        left: 42%;
      }
      .contact-us-form form{
        width: 100%;
        padding: 5%;
      }
      
      .contact-us-section{
        padding: 25% 3% 35% 3%;
      }
      .progress-bar{
        width: 100%;
      }
      .sedona-soul .sedona-img{
        width: 100%;
      }
      .filter-by{
        width: 100%;
      }
      .most-relevant span{
        padding: 8px;
      }
      .filter span{
        padding: 8px;
      }

}
@media screen and (max-width:768px) {
  .navbar{
    background-color: #4C2A6E;
    justify-content: space-between;
    gap: 0;
  }
  .navbar a.navbar-brand {
    padding: 20px;
  }
  .banner-search-btn{
    right: 9%;
  }
  .banner-input{
    width: 85%;
  }
  .banner-text span{
    font-size: 20px;
  }
  .banner-bg {
    height: 20rem;
  }
  .view-all{
    gap: 20%;
  }
  .app-detail{
    margin: 5%;
  }
  .star-be-heard{
    gap: 3%;
    padding: 0 0 10% 0;
  }
  .community-center{
    padding: 5% 1%;
  }
  .review-platform{
    gap: 3%;
  }
  .Category-grid{
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(6,1fr);
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;

  }
  .category-list i{
    display: none;
  }
  .all-categories{
    padding: 20% 0;
  }
  .Community-links .trust-link{
    font-size: 9px;
  }
  .community-content h3{
    font-size: 1.3rem;
  }
  .footer-padding{
    padding: 5%;
  }
  .form-select{
    line-height: 2.5;
    width: 50%;
}
.search-btn{
  right: 6%;
}
.blog-detail-img img{
  width: 100%;
  
}
.happy-user-arrow-l {
  position: absolute;
  top: 25%;
  right: 90%;
}
.happy-user-arrow-r {
    position: absolute;
    right: 0%;
    top: 25%;
}
.business-arrow {
  display: flex;
  justify-content: end;
  padding: 0 8%;
  gap: 1%;
}
.swiper-navBtn{
  height: 40px;
  width: 40px;
}
.pricing-services-grid{
  grid-template-columns: repeat(1,1fr);
  
}
.slide-image{
  display: none;
}

.slider-section{
  padding: 1%;
}
.pricing-div-bg{
  width: 100%;
}
.write-review-section{
  padding: 15% 10% 0 10%;
}
.pricing-img img{
  margin: 2%;
}
.consultent-section h6{
  font-size: 12px;
}
.consultent-section h4{
  font-size: 1rem;
}
.write-review{
  width: 30%;
}
.consultent-section span{
  padding-bottom: 1rem;
}
.ad-spend-grid{
  grid-template-columns: repeat(1,1fr);
}
.increase-conversion{
  flex-wrap: wrap;
  padding: 5%;
}
.ad-spend-section{
  padding: 5%;
}
.growth-img{
  display: flex;
  justify-content: center;
}
.growth-img img{
  margin: 0;
  width: 100%;
  padding: 5%;

}
.growing-brands{
  padding: 25% 0 5% 0;
}
.case-study-grid{
  grid-template-columns: repeat(1,1fr);
}
.category-list{
  width: 11rem;
  
}
.category-name{
  justify-content: center;
  gap: 5%;
}
.Category-section{
  padding: 5% 0;
}
.frame-section-img img{
  width: 100%;
  
}
.story-bg-img img{
  width: 100%;
  height: 15rem;
}
.write-review-form form {
  width: 90%;
}
.writre-a-business{
  padding-top: 10%;
}
.custom-pricing{
  padding: 10%;
}
.review-collection-img{
  justify-content: center;
  margin-top: 5%;
}
.showcase-review-div{
  padding: 5%;
}
.social-media-img img{
  width: 75%;
  margin-top: 5%;
}
.social-media-icon-grid{
  padding: 5%;
}
.legal-terms{
  padding: 5%;
}
.online-presence{
  padding: 20% 5% 5% 5%;
}
.user-like{
  justify-content: center;
  padding-bottom: 5%;
}
.online-presence-visit{
  padding: 5%;
}
.user-visit-img img{
  width: 100%;
}
.choices-div{
  padding-bottom: 5%;
}

.review-div-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}

.sort-by{
  flex-wrap: wrap;
}
.sort-by-spans{
  margin-top: 1rem;
}
.all-categories-link {
  background-color: #4C2A6E;
  padding: 20% 5%;
}
.Featured-grid-div{
  padding: 5%;
}
.business-resources-section{
  background-color: #F2F0F5;
  padding-top: 15%;
}
.business-resources{
  overflow-x: scroll;
  width: auto;
}
.pricing-img{
  display: flex;
  justify-content: center;
  margin: 0;
}
.account-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.login-type-div{
  padding: 5%;
  margin-bottom: 5%;
}
.login-user-div{
  padding: 25% 5% 10% 5%;
}
.login-user-div img{
  width: 100%;
}
.account-links .Request-demo{
  margin-left: 0;
}
.online-merchants{
  padding: 5%;
}
.trust-blog-div{
  overflow-x: scroll;
  width: auto;
  margin-top: 20%;
}
.user-review-list{
  width: 100%;
}
.company-activity{
  margin-left: 0;
}
.sedona-soul-section{
  padding: 20% 5%;
}
.banner-text{
  margin-left: 8%;
}
.story-bg-img .arrow-left{
  bottom: 1rem;
}
.story-bg-img .arrow-right{
  bottom: 1rem;
}
.story-bg-img .second-para{
  font-size: 12px;
}
.story-bg-img .first-para{
  font-size: 12px;
}
.Pervious-btn span{
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #4C2A6E;
}
.number-btn span{
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #4C2A6E;
}
.next-btn span{
  padding: 5px 20px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #4C2A6E;
}
}
@media screen and (max-width:768px) {
  .swiper-pagination{
    display: block;
  }
  .trust-blog-div{
    overflow-x: scroll;
    width: auto;
    margin-top: 20%;
  }
  .sedona-soul{
    flex-wrap: wrap;
  }
  .verified-company{
    padding-top: 0;
  }
}
